


#sliderFrame 
{
    width:890px;
    margin:0px;
    padding:10px;
    box-shadow: 0 0 5px #BBB;
    border:1px solid #74B9FE;
    background-color:#FFF;
    height:589px;
 
}



#slider {
    float:left;
    width:890px;
    height:589px;
    background:#fff url(loading.gif) no-repeat 50% 50%;
    position:relative;
    margin:0px;

}
#slider img {
    position:absolute;
    border:none;
    visibility:hidden;
    width:890px;
    height:589px;

}


#slider a.imgLink {
    z-index:2;
    display:none;position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}


div.mc-caption-bg, div.mc-caption-bg2 {
    position:absolute;
    width:700px;
    height:500px;
    padding:10px;
    left:120px;
    bottom:10px;
    z-index:3;
    overflow:hidden;
    font-size:0;
}
div.mc-caption-bg {
    background:#CCCCCC;
    border:1px solid white;
    border-radius: 10px;
}
div.mc-caption {
    font:bold 13px/16px Arial;
    color:#069;
    z-index:4;
    text-align:center;
}
div.mc-caption a { 
    color:#060;
}



div.navBulletsWrapper  {
    display:none;
}




#slider 
{
    transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}



.tooltipmy {outline:none; }
.tooltipmy strong {line-height:30px;}
.tooltipmy:hover {text-decoration:none;}
.tooltipmy span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:240px; line-height:16px; }
.tooltipmy:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;}

.tooltipmy span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }
