body {
		position: relative;
}

.header-link {
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight: 600;
}

.dropdown-link {
	font-size: 14px;
	font-family: "Segoe UI";
}

.nav-tabs .nav-item {
	font-size: 12px;
}

.nav-pills .nav-item {
    font-size: 12px;
}

.list-group h5 {
	font-size: 13px;
}

.list-group p {
	font-size: 12px;
}

.list-group small {
	font-size: 11px;
}

.tab-pane .list-group {
	max-height: 220px;
	overflow-y: scroll;
}

.tab-pane .list-group-item {
    padding: 9px;
}

.nav-link {
	padding-top: 15px;
	padding-bottom: 15px;
}

#v-pills-tab {
	font-size: 12px;
}

#v-pills-tabContent {
	font-size: 12px;
	min-height: 254px;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.tab-pane {
    margin-top: 10px
}

p.officer-title {
    font-size: 10pt;
    margin-bottom: 3px;
}

p.officer-name {
    font-size: 8pt;
}

.dropdown .dropdown-languages {
    font-size: 12pt;
}
